body {
    background-color: #101216;
}

/*          welcome           */
.welcome_header {
    margin-top: 120px;
    margin-bottom: 100px;
}
.welcome_body button {
    width: 200px;
    height: 70px;

    margin: 10px;

    font-size: 24px;
    font-weight: 700;
    color: white;

    background-color: #101216;

    border: none;
    border-radius: 10px;
}
.welcome_body button:hover {
    background: #161A1E;
    color: white;
}

/*          register           */
.register-form {
    margin-bottom: 100px;
}
.register-form-header {
    text-align: center;
}
.register-form-header .register-form-back {    
    width: 150px;
    padding-top: 80px;
}
.register-form-header .register-form-back:hover {
    cursor: pointer;
}
.register-form-header .register-form-title {
    color: white;
    text-align: center;
    font-size: 50px;

    margin-top: 30px;
    margin-bottom: 30px;
}
.register-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-form-body form {
    width: 400px;
    
    padding: 60px;
    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #3b4a59;
}
.register-form-body form .register-form-input {
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.register-form-body label {
    color: white;
    font-size: 20px;

}
.register-form-submit {
    width: 100%;
    height: 40px;

    font-size: 20px;

    margin-top: 50px;
}



/*          login           */
.login-form {
    margin-bottom: 100px;
}
.login-form-header {
    text-align: center;
}
.login-form-header .login-form-back {
    width: 150px;
    padding-top: 80px;
}
.login-form-header .login-form-back:hover {
    cursor: pointer;
}
.login-form-header .login-form-title {
    color: white;
    text-align: center;
    font-size: 50px;

    margin-top: 30px;
    margin-bottom: 30px;
}
.login-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-body form {
    width: 400px;
    
    padding: 60px;
    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #1C262F;
}
.login-form-body form .login-form-input {
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.login-form-body label {
    color: white;
    font-size: 20px;

}
.login-form-submit {
    width: 100%;
    height: 40px;

    font-size: 20px;

    margin-top: 50px;
}

/*          home           */
.home-header {
    height: 153px;
    color: white;
}
.home-title {
    float: left;
    width: 150px;

    padding: 40px;
    margin-left: 20px;
}
.home-signout {
    float: right;
    font-size: 30px;

    padding: 40px;
    margin-right: 20px;
    margin-top: 10px;
}
.home-signout:hover {
    cursor: pointer;
}
.home-body {
    color: white;
    width: 90%;
    margin-left: 5%;
    
    height: 800px;
}
.home-left {
    float: left;
    background-color: #161A1E;
    
    border-radius: 10px;
    border: 1px solid #3b4a59;

    width: 59%;
    height: 100%;
}
.home-left-container {
    padding: 20px;
}

.home-left-container .home-left-profile {
    padding: 10px;
    height: 300px;
}
.home-left-profile-info {   
    height: 280px;
    width: auto;

    margin-left: 320px;

    border-radius: 10px;
    border: 1px solid #3b4a59;
}
.home-left-profile img {
    float: left;
    height: 280px;
    width: 280px;
}
.home-left-profile-info > div {
    padding: 20px;
}
.profile-info-countBox {
    height: 80px;
}
.profile-header-title {
    height: 60px;
}
.profile-header {
    height: 160px;
}
.profile-name {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile-point {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}
.profile-countBox-left {
    float: left;
    width: 48%;
    height: 100%;

    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #3b4a59;
}
.profile-countBox-left div {
    padding: 10px;
}
.profile-countBox-right {
    float: right;
    width: 48%;
    height: 100%;

    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #3b4a59;
}
.profile-countBox-right div {
    padding: 10px;
}

.home-left-container .home-left-card {
    padding: 10px;
    height: 200px;
}
.home-left-cards {
    height: 130px;
    width: 100%;
}

.home-right {
    float: right;
    background-color: #161A1E;

    border-radius: 10px;
    border: 1px solid #3b4a59;

    width: 39%;
    height: 100%;
}
.home-right-container {
    padding: 20px;
}
.home-right-question {
    height: 100px;

    margin-bottom: 20px;
    padding: 20px;

    border-radius: 10px;
    border: 1px solid #3b4a59;
    background-color: #101216;
}
.home-right-body {
    padding: 10px;

    height: 520px;
}
.home-right-textarea {
    width: 98%;
    height: 100%;
    
    background-color: #101216;
    color: white;

    border: none;
}

.home-right-question-header {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.home-right-question-title {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 20px;

    text-align: center;
}
.home-right-question-back {
    margin-top: 0px;
    margin-bottom: 10px;
    float: left;
}
.home-right-attribute {
    height: 90%;
}
.home-right-submit {
    height: 10%;
    width: 100%;

    text-align: center;
}