body {
    background-color: #101216;
}

.title {
    color: white;
    font-size: 250px;
    margin-bottom: 70px;
}

.button {
    width: 200px;
    height: 70px;

    margin: 10px;

    font-size: 24px;
    font-weight: 700;
    color: white;

    background-color: #101216;

    border: none;
    border-radius: 10px;
}
.button:hover {
    background: #161A1E;
    color: white;
}

/*          register           */
.register-form-header {
    color: white;
    text-align: center;
}
.register-form-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-form-body label {
    margin-bottom: 10px;
}
.register-form-submit {
    margin-top: 40px;
}


/*          login           */
.login-form-header {
    color: white;
    text-align: center;
}
.login-form-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-body label {
    margin-bottom: 10px;
}
.login-form-submit {
    margin-top: 40px;
}