body {
    background-color: #101216;
}

/*          welcome           */
.welcome_header {
    margin-top: 120px;
    margin-bottom: 100px;
}
.welcome_body button {
    width: 200px;
    height: 70px;

    margin: 10px;

    font-size: 24px;
    font-weight: 700;
    color: white;

    background-color: #101216;

    border: none;
    border-radius: 10px;
}
.welcome_body button:hover {
    background: #161A1E;
    color: white;
}

/*          register           */
.register-form {
    margin-bottom: 100px;
}
.register-form-header {
    text-align: center;
}
.register-form-header .register-form-back {    
    width: 150px;
    padding-top: 80px;
}
.register-form-header .register-form-back:hover {
    cursor: pointer;
}
.register-form-header .register-form-title {
    color: white;
    text-align: center;
    font-size: 50px;

    margin-top: 30px;
    margin-bottom: 30px;
}
.register-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.register-form-body form {
    width: 400px;
    
    padding: 60px;
    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #3b4a59;
}
.register-form-body form .register-form-input {
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.register-form-body label {
    color: white;
    font-size: 20px;

}
.register-form-submit {
    width: 100%;
    height: 40px;

    font-size: 20px;

    margin-top: 50px;
}



/*          login           */
.login-form {
    margin-bottom: 100px;
}
.login-form-header {
    text-align: center;
}
.login-form-header .login-form-back {
    width: 150px;
    padding-top: 80px;
}
.login-form-header .login-form-back:hover {
    cursor: pointer;
}
.login-form-header .login-form-title {
    color: white;
    text-align: center;
    font-size: 50px;

    margin-top: 30px;
    margin-bottom: 30px;
}
.login-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form-body form {
    width: 400px;
    
    padding: 60px;
    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #1C262F;
}
.login-form-body form .login-form-input {
    width: 100%;
    height: 20px;
    margin-top: 10px;
}
.login-form-body label {
    color: white;
    font-size: 20px;

}
.login-form-submit {
    width: 100%;
    height: 40px;

    font-size: 20px;

    margin-top: 50px;
}

/*          home           */
.home {
    margin-bottom: 100px;
}
.home-body {
    color: white;
    width: 90%;
    margin-left: 5%;
    
    height: 800px;
}
.home-left {
    float: left;
    background-color: #161A1E;
    
    border-radius: 10px;
    border: 1px solid #1C262F;

    width: 59%;
    height: 100%;
}
.home-left-container {
    padding: 20px;
}

.home-left-container .home-left-profile {
    padding: 10px;
    height: 300px;

}
.profile-border {
    height: 1px;
    width: 100%;
    background-color: #1C262F;    
}

.home-left-profile-info {   
    height: 280px;
    width: auto;

    margin-left: 320px;

    /* border-radius: 10px;
    border: 1px solid #1C262F; */
}
.home-left-profile img {
    float: left;
    height: 280px;
    width: 280px;

    border-radius: 200px;
    border: 3px solid #1C262F;
}
.home-left-profile img:hover {
    cursor: pointer;
}
.home-left-profile-info > div {
    padding: 20px;
}
.profile-info-countBox {
    height: 80px;
}
.profile-header-title {
    height: 60px;
}

.profile-header {
    height: 160px;
}
.profile-name {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;
}
.profile-point {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}
.profile-countBox-left {
    float: left;
    width: 48%;
    height: 100%;

    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #3b4a59;
}
.profile-countBox-left div {
    padding: 10px;
}
.profile-countBox-right {
    float: right;
    width: 48%;
    height: 100%;

    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #3b4a59;
}
.profile-countBox-right div {
    padding: 10px;
}

.home-left-container .home-left-card {
    padding: 10px;
    height: 200px;
}
.home-left-cards {
    height: 130px;
    width: 100%;
}


.home-left-cards-ul {
    padding-left: 0px;

    list-style: none;
    height: 100%;

    overflow-x: auto;
    white-space: nowrap;
}
.home-left-cards-ul::-webkit-scrollbar {
    height: 5px;
}
.home-left-cards-ul::-webkit-scrollbar-thumb {
    background-color: #B9B9B9;
    border-radius: 10px;
}
.home-left-cards-ul li {
    display: inline-block;
    width: 240px;
    height: 90%;
    margin-right: 20px;

    background-color: #151515;
    border-radius: 10px;
    border: 1px solid white;
}
.home-left-cards-ul li:hover {
    cursor: pointer;
    background-color: #4D9CFF;
}
.card {
    padding: 10px;
    height: 60%;
}
.card-username {
    margin-bottom: 10px;
    /* background-color: blueviolet; */
}


.home-right {
    float: right;
    background-color: #161A1E;

    border-radius: 10px;
    border: 1px solid #1C262F;

    width: 39%;
    height: 100%;
}
.home-right-container {
    padding: 20px;
}
.home-right-question {
    height: 100px;

    margin-bottom: 20px;
    padding: 20px;

    border-radius: 10px;
    border: 1px solid #3b4a59;
    background-color: #101216;
}
.home-right-body {
    padding: 10px;

    height: 520px;
}
.home-right-textarea {
    width: 98%;
    height: 100%;
    
    background-color: #101216;
    color: white;

    border: none;
    resize: none;
}

.home-right-question-header {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.home-right-question-title {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 20px;

    text-align: center;
}
.home-right-question-back {
    margin-top: 0px;
    margin-bottom: 10px;
    float: left;
}
.home-right-question-back:hover {
    cursor: pointer;
}
.home-right-attribute {
    height: 90%;
}
.home-right-submit {
    height: 10%;
    width: 100%;

    text-align: center;
}
.home-right-submit:hover {
    cursor: pointer;
}

.explore {
    padding: 40px;
    height: 720px;
}
.explore-header-nav {
    height: 60px;
    margin-bottom: 100px;
}
.explore-header-nav button {
    float: right;
    height: 36px;
    width: 70px;
    font-size: 17px;
    background-color: #157AF8;
    color: white;
    font-weight: bold;

    border-radius: 5px;
    border: none;
}
.explore-header-nav button:hover {
    cursor: pointer;
    background-color: #4D9CFF;
}

.explore-header {
    height: 300px;
    text-align: center;
}
.explore-body {
    height: 360px;
    text-align: center;
}
.top-search {
    margin-top: 30px;
    margin-bottom: 100px;
    width: 70%;
    height: 30px;
}
.bottom-submit {
    width: 90%;
    height: 40px;
    margin-top: 200px;
}
.bottom-submit:hover {
    cursor: pointer;
}
/* ======================================+===================+===================+ */
.updateQcard {
    padding: 20px;
}
.updateQcard-header {
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    
}
.updateQcard-header-title {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: center;
}
.updateQcard-header-back {
    margin-top: 0px;
    margin-bottom: 10px;
    float: left;
}
.updateQcard-header-back:hover {
    cursor: pointer;
}
.updateQcard-header-delete {
    float: right;
    font-size: 17px;
    font-weight: bold;
    height: 36px;
    width: 70px;

    margin-top: 5px;
    
    background-color: red;
    color: white;

    border-radius: 5px;
    border: none;
}
.updateQcard-header-delete:hover {
    cursor: pointer;
    background-color: #DE2F2F;
}
.updateQcard-body {
    height: 70px;
    
    margin-bottom: 20px;
    padding: 20px;

    border-radius: 10px;
    border: 1px solid #3b4a59;
    background-color: #101216;
}
.updateQcard-body-question {
    width: 98%;
    height: 100%;

    background-color: #101216;
    color: white;

    border: none;
    resize: none;
}
.updateQcard-body-question:focus {
    outline: none;
}
.updateQcard h1 {
    margin-top: 5px;
}
.updateQcard-comments {
    height: 445px;
}
.updateQcard-comments-ul {
    list-style: none;
    padding-left: 0px;

    height: 100%;

    overflow: auto;
    /* white-space: nowrap; */
}
.updateQcard-comments-ul .comment-right:hover {
    cursor: pointer;
    background-color: #1E2329;
    
}
.updateQcard-comments-ul::-webkit-scrollbar {
    width: 5px;
}
.updateQcard-comments-ul::-webkit-scrollbar-thumb {
    background-color: #B9B9B9;
    border-radius: 10px;
    height: 50px;
}
.updateQcard-comments-li {
    padding: 10px;
    margin-bottom: 20px;
    padding-right: 20px;
}
.updateQcard-edit h1{
    display: inline;
    margin-right: 10px;
}
.updateQcard-edit {
    margin-top: 5px;
    margin-bottom: 20px;
}
.updateQcard img {
    width: 32px;
}

.comment-left {
    float: left;
    text-align: center;
    font-size: 14px;
}
.comment-right {
    padding: 10px;
    margin-left: 80px;

    border-radius: 10px;
    border: 1px solid #3b4a59;
    background-color: #101216;
}
.comment-img {
    width: 30px;
    height: 30px;
}

/* ======================================+===================+===================+ */

.profileSetting {
    height: 760px;

    padding: 30px;
}

.profileSetting-header {
    height: 60px;
}
.profileSetting-header-back {
    margin-top: 0px;
    margin-bottom: 10px;
    float: left;
}
.profileSetting-header-back:hover {
    cursor: pointer;
}
.profileSetting-header-title {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-right: 20px;

    text-align: center;
}

.profileSetting-body {
    height: 600px;
    /* background-color: blue; */
}
.profileSetting-body-top {
    text-align: center;
}
.bottom-username {
    width: 95%;
    height: 40px;
    padding: 10px;

    background-color: #101216;
    border-radius: 10px;
    border: 1px solid #3b4a59;
}
.bottom-username input {
    width: 100%;
    height: 100%;
    font-size: 16px;

    background-color: #101216;
    color: white;

    border: none;
    resize: none;
}
.bottom-username input:focus {
    outline: none;
}
.bottom-introduction {
    width: 95%;
    height: 80px;
    padding: 10px;

    background-color: #101216;
    border-radius: 10px;
    border: 1px solid #3b4a59;
}
.bottom-introduction textarea{
    width: 100%;
    height: 100%;
    font-size: 16px;

    background-color: #101216;
    color: white;

    border: none;
    resize: none;
}

.profileSetting-body img {
    height: 200px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;

    display: inline-block;
}
.profileSetting-body img:hover {
    cursor: pointer;
}
/* .profileSetting-body button {
    width: 200px;
}
.profileSetting-body button:hover {
    cursor: pointer;
} */
.profileSetting-body-top-label {
    margin: 5px 10px 20px 10px;
    font-weight: bold;
    font-size: 16px;
    color: #0095f6;
    display: inline-block;
    cursor: pointer;
}
.profileSetting-body-top-input {
    display: none;
}

.profileSetting-footer {
    height: 60px;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
}
.profileSetting-footer button {
    width: 100%;
    height: 40px;
    /* color: white;

    background-color: #101216;
    border-radius: 10px;
    border: 1px solid #3b4a59; */
}
.profileSetting-footer button:hover {
    cursor: pointer;
}

/* @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;1,100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,700&display=swap');
/* * {
    font-family: 'Alegreya Sans SC', sans-serif;
} */


.explore-qcard {
    margin-bottom: 100px;
}
.explore-qcard-body {
    color: white;
    width: 90%;
    margin-left: 5%;
    
    height: 800px;
}
.explore-qcard-body-top {
    width: 50%;
    height: 250px;

    margin-left: 25%;
    margin-right: 25%;

    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #1C262F;
}
.explore-qcard-body-top-padding {
    padding: 30px;
}
.explore-qcard-body-top-top {
    height: 40px;
    line-height: 40px;
}
.explore-qcard-body-top-username {
    font-size: 20px;
    font-weight: bold;

    margin-left: 60px;
}
.explore-qcard-body-top-img {
    float: left;
}
.explore-qcard-body-top-img img {
    height: 40px;
    width: 40px;

    background-color: #161A1E;
    border-radius: 100px;
    border: 1px solid #1C262F;
}
.explore-qcard-body-top-question {
    height: 110px;
    margin-top: 30px;

    background-color: #101216;
    border-radius: 10px;
    border: 1px solid #1C262F;
}
.explore-qcard-body-top-question div {
    padding: 20px;
}
.explore-qcard-body-bottom {
    width: 50%;
    height: 500px;

    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;

    background-color: #161A1E;
    border-radius: 10px;
    border: 1px solid #1C262F;
}

.explore-qcard-body-bottom-createDiv {
    width: 100%;
    height: 150px;

    border-bottom: #0095f6;
}
.explore-qcard-body-bottom-createDiv-padding {
    padding: 30px;
}
.createDiv-textarea {
    float: left;

    width: 89%;
    height: 90px;
}
.explore-qcard-body-bottom-createDiv-padding input {
    float: right;

    width: 8%;
    height: 96px;
}